includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    typeAliases:
        Name: 'string'
        NameResolver: 'callable(): string'
        NameOrResolver: 'Name|NameResolver'
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
